@page "{id:int}"
@model ThAmCo.Staff.Pages.Orders.DetailsModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Date Submitted</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Order.OrderId</td>
            <td>@Model.Order.CustomerName</td>
            <td>@Model.Order.CustomerEmail</td>
            <td>@Model.Order.OrderStatus</td>
            <td>@Model.Order.SubmittedDate</td>
            <td>@Model.Order.OrderDetails.Sum(x => x.UnitPrice).ToString("C2")</td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderDetail in Model.Order.OrderDetails) {
            <tr>
                <td>@orderDetail.Product.Name</td>
                <td>@orderDetail.Product.Description</td>
                <td>@orderDetail.UnitPrice.ToString("C2")</td>
                <td>@orderDetail.Quantity</td>
                <td>@orderDetail.TotalPrice.ToString("C2")</td>
            </tr>
        }
        
    </tbody>
</table>

<h3>Notes</h3>
<p>@Model.Order.Notes</p>
