@page
@model ThAmCo.Staff.Pages.Orders.IndexModel
@{
}

<h3>Orders</h3>

<table class="table">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Date Submitted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders) {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.CustomerName</td>
                <td>@order.CustomerEmail</td>
                <td>@order.OrderStatus</td>
                <td>@order.SubmittedDate</td>
                <td><a asp-page="Details" asp-route-id="@order.OrderId">Details</a></td>
            </tr>
        }
    </tbody>
</table>
